<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.su.washcall">  <application
    android:allowBackup="true"
    android:dataExtractionRules="@xml/data_extraction_rules"
    android:fullBackupContent="@xml/backup_rules"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/Theme._2gradeproject"
    tools:targetApi="31">

    <activity
        android:name=".LoginActivity"
        android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>

    <activity
        android:name=".RegisterActivity"
        android:exported="false" />

    <activity
        android:name=".OnboardingSimpleActivity"
        android:exported="false" />

    <activity
        android:name=".OnboardingSimple2Activity"
        android:exported="false" />

    <activity
        android:name=".MainActivity"
        android:exported="false" />

    <activity
        android:name=".AdminDashboardActivity"
        android:exported="false"
        android:label="관리자 대시보드" />

    <activity
        android:name=".WashingDetailActivity"
        android:exported="false"
        android:label="세탁기 상세 로그" />

    <activity
        android:name=".CalibrationActivity"
        android:exported="false"
        android:label="캘리브레이션" />

</application>
</manifest>